include README.md
include LICENSE
include AUTHORS
include pyproject.toml
include setup.py

recursive-include peakpo *.py *.mplstyle
exclude peakpo/error.log

prune jupyter-tools
prune environments
prune scripts
prune shortcuts
prune ui

exclude 0-ToDo.md
exclude links.txt
exclude .gitignore

global-exclude __pycache__/*
global-exclude *.py[cod]
global-exclude .DS_Store
